[client]
#password	= [your_password]
port		= 3379
socket		= /dev/shm/mysql.sock

[mysqld]
user=wanson
#basedir=/usr
datadir=/datahome/mydata
#tmpdir=/backup/mysql_tmp
port		= 3379
socket	= /dev/shm/mysql.sock
character-set-server=utf8
collation-server=utf8_general_ci
#federated
#ignore_builtin_innodb
#plugin-load=innodb=ha_innodb_plugin.so;innodb_trx=ha_innodb_plugin.so;innodb_locks=ha_innodb_plugin.so;innodb_lock_waits=ha_innodb_plugin.so;innodb_cmp=ha_innodb_plugin.so;innodb_cmp_reset=ha_innodb_plugin.so;innodb_cmpmem=ha_innodb_plugin.so;innodb_cmpmem_reset=ha_innodb_plugin.so
default-storage-engine=InnoDB
skip-external-locking
skip-name-resolve
back_log = 500
max_connections = 300
connect_timeout = 15
open_files_limit = 8192
tmp_table_size = 512M
max_heap_table_size = 512M
max_allowed_packet = 16M
table_open_cache = 4096
sort_buffer_size = 64M
read_buffer_size = 16M
read_rnd_buffer_size = 16M
join_buffer_size =64M
thread_stack = 1M
thread_cache_size = 256
thread_concurrency = 32

server-id=61
binlog_format=MIXED
rpl_semi_sync_master_enabled=1
rpl_semi_sync_master_timeout=10000
expire_logs_days=5
max_binlog_cache_size=500M
max_binlog_size = 500M
binlog_cache_size=128M
log-bin=/var/inonesoft/myreplog/masterlog/mysql-binlog

ft_min_word_len=1


query_cache_type = 2
query_cache_limit = 1M
query_cache_size = 512M

slow_query_log = 1
long_query_time = 5
#log-queries-not-using-indexes = 1
slow_query_log_file = /datahome/mylog/slowquery.log
log-error=/datahome/mylog/error.log

key_buffer_size = 2G
myisam_sort_buffer_size = 64M
bulk_insert_buffer_size = 16M

innodb_data_home_dir = /datahome/mydata
innodb_data_file_path = ibdata1:2000M;ibdata2:10M:autoextend
innodb_buffer_pool_size = 10G
innodb_additional_mem_pool_size = 512M
innodb_log_group_home_dir = /datahome/mylog
innodb_log_file_size = 256M
innodb_log_buffer_size = 128M
innodb_log_files_in_group = 2
innodb_thread_concurrency=20
innodb_flush_log_at_trx_commit = 2
innodb_file_per_table = 1
innodb_open_files=800
innodb_file_format = barracuda
innodb_strict_mode = 1
innodb_io_capacity=600
innodb_lock_wait_timeout=10
innodb_table_locks=0
event_scheduler=1
slave-net-timeout = 15
[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash

[myisamchk]
key_buffer_size = 1G
sort_buffer_size = 256M
read_buffer = 16M
write_buffer = 8M

[mysqlhotcopy]
interactive-timeout
